/* 폰트적용 */
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    font-family: 'NanumSquareRound',sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}
/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

/* 커스텀 */
.con {
    max-width: 1743px;
}

/* 탑바 시작 */

.top-box-01 {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: white;
}

/* 로고 */
.top-box-01 > .top-bar > .logo {
    height: 80px;
}

.top-box-01 > .top-bar > .logo > .logo-box {
    width: 80px;
    height: 80px;
}

.top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img {
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/logo_border.svg);
}

.top-box-01 > .top-bar > .logo > .logo-box > .logo-simbol {
    width: 48px;
    height: 48px;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/logo_simbol.svg);
}

.top-box-01 > .top-bar > .logo > .logo-text {
    font-size:36px; 
    font-weight:600;
    padding-left:20px;
}

/* 메뉴바 */
.top-box-01 > .top-bar > .menu-bar > ul > li {
    margin-left: 50px;
}

.top-box-01 > .top-bar > .menu-bar > ul > li:first-child {
    margin-left: 0;
}

.top-box-01 > .top-bar > .menu-bar > ul > li > a {    
    font-size: 18px;
    font-weight: 800;
    transition: color .3s;
}

.top-box-01 > .top-bar > .menu-bar > ul > li:hover > a {
    color: #ffd031;
}

/* 문의 버튼 */
.top-box-01 > .top-bar > .contact-btn > a {
    font-size:16px; 
    font-weight:800; 
    left:auto; 
    right:0;
}

.top-box-01 > .top-bar > .contact-btn > a > span {
    border: 1px solid #000000;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.top-box-01 > .top-bar > .contact-btn > a:hover > span {
    color: white;
}

.top-box-01 > .top-bar > .contact-btn > a > span::after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 0;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    transition: width .4s;
    overflow: hidden;
}

.top-box-01 > .top-bar > .contact-btn > a > span:hover::after {
    width: 100%;
}

/* 탑바 끝 */

.main-text-box {
    padding-top: 200px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
    padding-bottom: 60px;
}

.main-text-box > p {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
}

.main-text-box > p > span {
    color: #f6d258;
}

.type-03 {
    display: none;
}

/* 게시글박스 시작 */
/* 필터바 */
.article-box {
    padding-top: 60px;
}

.article-box > .filter {
    cursor: pointer;
    padding-bottom: 45px;
}

.article-box > .filter > .filter-icon {
    width: 18px;
}

.article-box > .filter > .filter-text {
    padding-left: 10px;
    font-family: 'Roboto',sans-serif;
}

.article-box > .filter > .filter-text > span {
    color: #6a6a6a;
    margin-left: 3px;
    position: relative;
}

.article-box > .filter > .filter-text > span::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #6a6a6a;
}

/* 리스트 */
.article-box > .article-list > ul {
    margin-left: -17px;
    margin-right: -17px;
}

.article-box > .article-list > ul > li {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0 17px;
}

.article-box > .article-list > ul > li > a > .article-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.article-box > .article-list > ul > li > a > .article-img > img {
    display: block;
    width: 100%;
    background-position: center;
    background-size: contain;
}

.article-box > .article-list > ul > li > a > .article-text {
    padding: 30px 0;
}

.article-box > .article-list > ul > li > a > .article-text > .art-name {
    font-size: 16px;
    color: #8c8c8c;
    line-height: 25px;
    font-weight: 800;
}

.article-box > .article-list > ul > li > a > .article-text > .art-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    margin-top: 10px;
}

/*
.article-box > .article-list > ul > li:first-child > a > div {
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/mainimg-01.jpg);
}

.article-box > .article-list > ul > li:nth-child(2) > a > div {
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/mainimg-02.jpg);
}

.article-box > .article-list > ul > li:nth-child(3) > a > div {
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/mainimg-03.jpg);
}
*/

/* 게시글박스 끝 */