.list-box {
    height: calc(100vh - 180px);
}

.list-box > .category {
    width: 217px;
    background-color: white;
    border-right: 1px solid #e8e8e8;
    
}

.list-box > .category > ul {
    padding-left: 57px;
    margin-top: 48px;
    padding-bottom: 48px;
    position: relative;
}

.list-box > .category > ul::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.5px;
    background-color: #e8e8e8;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.list-box > .category > ul > li > a {
    display: block;
    padding: 10px 0;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 200;
}

.list-box > .category > .search-box {
    width: 150px;
    height: 32px;
    border: solid 1px #888888;
    left: 0;
}

.list-box > .article-list {
    width: 983px;
    background-color: white;
}