@media (min-width:900px) {
    .md-category {
        display: none;
    }
}

@media (max-width:1023px) {
    .md-category {
        display: block;
    }
}

@media (max-width:699px) {
    .md-category {
        display: none;
    }
}

.list-box > .list-background {
    background-color: white;
    height: calc( 100vh - 180px );
}

.list-box {
    height: 100%;
    background-color: white; 
}

.list-box > .category {
    width: 217px;
    height: 100%;
    background-color: white;
    position: relative;
}

.list-box > .category > ul {
    padding-left: 57px;
    margin-top: 48px;
    padding-bottom: 48px;
    position: relative;
}

.list-box > .category > ul::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.5px;
    background-color: #e8e8e8;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.list-box > .category > ul > li > a {
    display: block;
    padding: 10px 0;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 200;
}

.list-box > .category > ul > li:hover > a {
    color: #FF5959;
}

.list-box > .category > .search-box {
    width: 150px;
    height: 32px;
    border: solid 0.5px #888888;
    left: 50%;
    transform: translateX(-50%);
    top:340px;
    position: absolute;
}

.list-box > .category > .writ-btn {
    width: 100px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
    top:400px;
    position: absolute;
    background-color: #FF5959;
}

.list-box > .category > .writ-btn > a {
    color: white;
    height: 100%;
    display: block;
    padding-top: 2px;
    padding-left: 25px;
    font-size: 12px;
    font-weight: 300;
}

.list-box > .article-list {
    width: 983px;
    background-color: white;
    padding-top:50px;
    border-left: 1px solid #e8e8e8;
}

.list-box > .article-list > .non-article {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    color: #888888;
}

.list-box > .article-list > ul {
    flex-wrap: wrap;
}

.list-box > .article-list > ul > li {
    width: calc(100% / 3);
    padding:0 30px;
    box-sizing: border-box;
    margin-bottom:30px;
}

.list-box > .article-list > ul > li > a {
    display: block;
}

@media ( max-width:900px ) {
    .list-box > .article-list > ul > li {
        width: calc(100% / 2);
    }
}


.list-box > .article-list > ul > li > a > .article-list-det {
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition:box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.list-box > .article-list > ul > li > a > .article-list-det:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.3), 0 5px 5px rgba(0,0,0,0.3);
}

.list-box > .article-list > ul > li > a > .article-list-det:first-child {
    
}
.list-box > .article-list > ul > li > a > .article-list-det > .photo-pre > img {
    display: block;
    width:100%;
}

.list-box > .article-list > ul > li > a > .article-list-det > .title-box {
    background-color: white;
    width: 100%;
    height: 80px;
    bottom: 0;
}

.list-box > .article-list > ul > li > a > .article-list-det > .title-box > span {
    padding-left: 12px;
}

.list-box > .article-list > ul > li > a > .article-list-det > .title-box > span {
    display: block;
}

@media (max-width:1023px) {
    .list-box > .category {
        display: none;
    }
    .list-box > .article-list {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:699px) {
    .list-box {
        display: none;
    }
    .mobile-list-bar {
        display: block;
    }
}

@media (min-width:700px) {
    .mobile-list-bar {
        display: none;
    }
}

/* 모바일 목록 */
.mobile-list-bar > .mobile-sub-bar {
    background-color: white;
    max-width: 1200px;
    height: 30px;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    justify-content: space-between;
  }

  .mobile-list-bar > .mb-article-list > ul > li {
    height: 118px;
    background-color: white;
    border-bottom: 1px solid #bdbdbd;
  }
  
  .list-box > div > ul > li > a > .article-list-det > .title-box > .contents-text {
    overflow: hidden; 
    text-overflow: ellipsis; 
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */	
    -webkit-box-orient: vertical;
    word-wrap:break-word;
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-title-text {
    overflow: hidden; 
    text-overflow: ellipsis; 
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */	
    -webkit-box-orient: vertical;
    word-wrap:break-word;
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-contents-text {
    overflow: hidden; 
    text-overflow: ellipsis; 
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */	
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-contents-text-s > span {
      padding: 0 10px;
      position: relative;
  } 

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-contents-text-s > span:first-child {
      padding-left: 0;
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-contents-text-s > span::after {
      content: "";
      position: absolute;
      background-color: #9E9E9E;
      height: 7px;
      width: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > div > .mb-contents-text-s > span:first-child::after {
      display: none;
  }

  .mobile-list-bar > .mb-article-list > ul > li > a > div > .content-pic-pre {
    width:70px; 
    height:70px;
    margin: 0 15px;
    background-size:contain;
  }

  .like-btn-bar > .delete-btn > a {
      padding: 0 10px; 
      position: relative;
  }

  .like-btn-bar > .delete-btn > a::after {
      position: absolute;
      content: "";
      background-color: #9E9E9E;
      width: 1px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
  }

  .like-btn-bar > .delete-btn > a:first-child::after {
      display: none;
  }

  .tag-list > span {
      color: #9E9E9E;
      font-weight: 200;
      padding-right: 20px;
  }

  .list-btn {
      padding: 70px 0;
  }

  .like-btn-bar {
      font-size: 15px;
      font-weight: bold;
  }