.portfolio-01 {
    height: 100vh;
    background-color: white;
}

.portfolio-01 > .slide-box {
    position: relative;
}

.portfolio-01 > .slide-box > img {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.img-slide {
    margin-top: 20px;
      background-color:#FAECC5;
      position:relative;
      width: 100%;
      height:300px;
      display: block;
      user-select:none;
      opacity: 0;
    }
    
    .img-slide .side-bars > div {
      position:absolute;
      width:calc(50% - 300px);
      height:100%;
      position:absolute;
    }
    
    .img-slide .side-bars > div:last-child {
      left:auto;
      right:0;}
    
    .img-slide .side-bars > div > span {
      position:absolute;
      top:50%;
      transform:translatey(-50%);
      transition:transform 0.3s;
      left:inherit;
      right:inherit;
      padding:20px;
    }
    
    .img-slide .side-bars > div:active > span {
      transform:translatey(-40%);
    }
    
    .img-slide > .slides > div {
      width:100%;
      height:100%;
      top:0;
      left:0;
      position:absolute;
      opacity:0;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      transition: opacity 0.3s;
    }
    
    .img-slide > .slides > div.active {
      opacity:1;
    }

.portfolio-box > .pf-category > a {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 200;
    color: #494949;
    margin-top: 20px;
    position: relative;
}

.portfolio-box > .pf-category > a::after {
    content: "";
    position: absolute;
    background-color: #494949;
    width: 1px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-box > .pf-category > a:first-child::after {
    display: none;
}

.portfolio-box > .pf-category > a:hover {
    color: #FC354C;
}

.portfolio-box > .pf-list > ul {
    margin-top: 30px;
}

.portfolio-box > .pf-list > ul > li {
    width: 210px;
    height: 270px;
    background: url(https://images.unsplash.com/photo-1593087470062-9cb963d64d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80);
    background-position: center;
    background-size: cover;
    margin: 0 20px;
}

