.portfolio-01 {
    height: calc( 100vh - 180px );
    background-color: white;
}

.portfolio-01 > .slide-box {
    position: relative;
}

.portfolio-01 > .slide-box > .img-box {
  width: 100%;
}

.portfolio-01 > .slide-box > .img-box > img {
  padding-top: 25px; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
/*
.img-slide {
    position: absolute;
    background-color:#FAECC5;
    width: 385px;
    height: 212px;
    display: block;
    user-select:none;
    top:56px;
    left: 50%;
    transform: translateX(-50%);
    }
    
    .img-slide .side-bars > div {
      position:absolute;
      width:calc(50% - 300px);
      height:100%;
      position:absolute;
    }
    
    .img-slide .side-bars > div:last-child {
      left:auto;
      right:0;}
    
    .img-slide .side-bars > div > span {
      position:absolute;
      top:50%;
      transform:translatey(-50%);
      transition:transform 0.3s;
      left:inherit;
      right:inherit;
      padding:20px;
    }
    
    .img-slide .side-bars > div:active > span {
      transform:translatey(-40%);
    }
    
    .img-slide > .slides > div {
      width:100%;
      height:100%;
      top:0;
      left:0;
      position:absolute;
      opacity:0;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      transition: opacity 0.3s;
    }
    
    .img-slide > .slides > div.active {
      opacity:1;
    }

    */

/*슬라이드박스 시작*/    
    .box-01 {
      width:calc(100% - 100px);
      min-width:500px;
      max-width:800px;
      height:350px;
      display:flex;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    
    .box-01 > .box:nth-child(1) {
      background-color:gold;
    }
    
    .box-01 > .box:nth-child(2) {
      background-color:violet;
    }
    
    .box-01 > .box:nth-child(3) {
      background-color:yellowgreen;
    }
    
    .box-01 > .box:nth-child(4) {
      background-color:skyblue;
    }
    
    .box-01 > .box:nth-child(5) {
      background-color:pink;
    }
    
    .box-01 > .box {
      position:relative;
      overflow:hidden;
      min-width:50px;
      margin:10px;
      cursor:pointer;
      transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      box-shadow: inset 5px 5px 50px 0px #444444;
    }
    
    .box-01 > .box.active {
      flex-grow:10000;
      max-width:600px;
      border-radius:30px;
      margin:0;
    }
    
    .box-01 > .box:not(.active) {
      border-radius:30px;
      flex-grow:1;
    }
/*슬라이드박스 끝*/    

/* 사이드바 시작 */

/* 사이드바 끝 */


/*포트폴리오 리스트 시작*/
.portfolio-box > .pf-category > a {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 200;
    color: #494949;
    margin-top: 20px;
    position: relative;
}

.portfolio-box > .pf-category > a::after {
    content: "";
    position: absolute;
    background-color: #494949;
    width: 1px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-box > .pf-category > a:first-child::after {
    display: none;
}

.portfolio-box > .pf-category > a:hover {
    color: #FC354C;
}

.portfolio-box > .pf-list > ul {
    margin-top: 30px;
}

.portfolio-box > .pf-list > ul > li {
    width: 210px;
    height: 270px;
    background: url(https://images.unsplash.com/photo-1593087470062-9cb963d64d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80);
    background-position: center;
    background-size: cover;
    margin: 0 20px;
}
/*포트폴리오 리스트 끝*/