/* 폰트 적용 */
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "aritaburiM", "aritaburiL", "nixM", 'NanumSquare', sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

* > p {
    margin: 0;
}

/* 커스텀 */
.con {
    max-width: 1500px;
}

.swiper-container {
    font-family: 'NanumSquare', sans-serif;
}

/* 메인페이지 */
.main-page {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* 메뉴바 */
.main-page > .main-menu {
    width: 100%;
    height: 160px;
    position: relative;
    z-index: 99;
}

.main-page > .main-menu > .logo-box {
    width: 50px;
    height: 50px;
    padding: 36px 0;
}

.main-page > .main-menu > .logo-box > img {
    width: 100%;
    height: 100%;
}

.main-page > .main-menu > ul {
    font-family: "nixM";
    color: #fff;
    height: 100%;
    font-size: 18px;
}

.main-page > .main-menu > ul > li {
    position: relative;
}

.main-page > .main-menu > ul > li > a {
    display: block;
    height: 100%;
    padding: 0 60px;
}

.main-page > .main-menu > ul ul {
    display: none;
    position: absolute;
    width: 180px;
    height: auto;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.3);
    font-family: "aritaburiL", sans-serif;
    font-size: 15px;
    padding: 10px 0;
}

.main-page > .main-menu > ul ul > li {
    padding: 8px 0;
}

.main-page > .main-menu > ul > li:hover > ul {
    display: block;
}


/* 백그라운드 */
.main-page > .main-bg-box {
    width: 100%;
    height: calc(100vh - 160px);
}

.main-page > .main-bg-box > .col {
    width: 1520px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-page > .main-bg-box > .col::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 2s;
}

.main-page > .main-bg-box.active > .col::before {
    height: 100%;
}

.main-page > .main-bg-box > .col::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: all 2s;
    transition-delay: 1s;
}

.main-page > .main-bg-box.active > .col::after {
    height: 100%;
}

.main-page > .main-bg-box > .row {
    width: 100%;
    height: 668px;
    position: absolute;
    top: 160px;
    left: 0;
}

.main-page > .main-bg-box > .row::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0.5px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 2s;
}

.main-page > .main-bg-box.active > .row::before {
    width: 100%;
}

.main-page > .main-bg-box > .row::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.5px;
    bottom: 0;
    left: ;: 0;
    background-color: #fff;
    transition: all 2s;
    transition-delay: 1s;
}

.main-page > .main-bg-box.active > .row::after {
    width: 100%;
}

.main-page > .main-bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-page > .main-bg-slide > .swiper-container {
    width: 100%;
    height: 100%;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box {
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-family: "aritaburiL", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1039px;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box > p {
    opacity: 0;
    transition: opacity 4s;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide.swiper-slide-active > .main-text-box > p {
    opacity: 1;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1.5s; 
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide.swiper-slide-active > .main-text-box::before {
    height: 100%;
    opacity: 1;
    transition: all 3.5s;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    background-color: #fff;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 1.5s;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide.swiper-slide-active > .main-text-box::after {
    height: 100%;
    opacity: 1;
    transition: all 3.5s;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box > span {
    display: block;
}

/* md추천상품 */
.md-box {
    width: 100%;
    height: auto;
    padding-top: 180px;
}

.md-box > .md-title-box {
    width: 414px;
    padding-right: 100px;
}

.md-box > .md-title-box > span {
    display: block;
    text-align: right;
    font-size: 25px;
}

.md-box > .md-title-box > .md-box-title {
    padding-top: 10px;
    padding-bottom: 17px;
}

.md-box > .md-title-box > .md-box-bar {
    background-color: #288ea5;
    width: 44px;
    height: 2px; 
    margin-left: auto;
    margin-right: 0;
}

.md-box > .md-title-box > .md-box-cont {
    padding-top: 29px;
    padding-right: 33px;
    color: #7e7e7e;
}

.md-box > .md-slide {
    width: 1087px;
    height: auto;
    position: relative;
}

.md-box > .md-slide > .swiper-container {
    /* margin-right: -100%; */
}

.md-box > .md-slide > .swiper-container > .swiper-wrapper > .swiper-slide {
    width: 350px;
    height: 466px;
}

.md-box > .md-slide > .swiper-container > .swiper-wrapper > .swiper-slide > a > .md-img {
    width: 100%;
    height: 327px;
}   

.md-box > .md-slide > .swiper-container > .swiper-wrapper > .swiper-slide > a > .md-text {
    width: 100%;
    height: auto;
}

.md-box > .md-slide > .swiper-container > .swiper-wrapper > .swiper-slide > a > .md-text > span {
    display: block;
    font-size: 20px;
    color: #686868;
    padding-top: 22px;
    padding-left: 38px;
}

.md-box > .md-slide > .swiper-container > .swiper-wrapper > .swiper-slide > a > .md-text > span:nth-child(2) {
    font-size: 25px;
    color: #000;
    padding-top: 17px;
    padding-left: 28px;
}

.md-box > .md-slide::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 263px;
    background-image: url(https://han-daeun.github.io/img1/pf/osulloc/img_object.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 35%;
    left: -150px;
}

/* 인사페이지 */
.osulloc-info {
    width: 100%;
    height: auto;
    padding-top: 180px;
}

.osulloc-info > .info-img {
    width: 682px;
    height: auto;
}

.osulloc-info > .info-cont {
    width: 682px;
    height: auto;
    padding-left: 63px;
    padding-top: 105px;
    box-sizing: border-box;
}

.osulloc-info > .info-cont > img {
    width: 100%;
    display: block;
}

.osulloc-info > .info-cont > span {
    display: block;
    font-size: 20px;
    font-family: "aritaburiL";
}

.osulloc-info > .info-cont > span:first-child {
    font-size: 48px;
    padding-bottom: 50px;
}

.osulloc-info > .info-cont > span:nth-child(2) {
    padding-left: 17px;
    line-height: 43px;
}

/* 주간베스트 */
.weekly-best-box {
    width: 100%;
    height: auto;
    border: solid 1px red;
    box-sizing: border-box;
    padding-top: 180px;
}

/* 오설록샵 */
.shop-box {
    width: 100%;
    height: auto;
    border: solid 1px red;
    box-sizing: border-box;
    padding-top: 180px;
}

/* 이벤트배너 */
.banner-box {
    width: 100%;
    height: auto;
    border: solid 1px red;
    box-sizing: border-box;
    padding-top: 180px;
}

/* 인스타그램 */
.sns-box {
    width: 100%;
    height: auto;
    border: solid 1px red;
    box-sizing: border-box;
    padding-top: 180px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #23232d;
    color:rgba(255,255,255,0.8); 
    font-family: 'NanumSquare', sans-serif;
    font-size: 12px;
    font-weight: 200;
}

footer > .ft-logo-box {
    padding: 32px 0;
    width: 100%;
    height: auto;
}

footer > .ft-logo-box > .logo-img {
    width: 70px;
    height: 88px;
    background-image: url(https://han-daeun.github.io/img1/pf/osulloc/logo02.png);
    background-size: cover;
    opacity: 80%;
}

footer > .ft-cont {
    width: 100%;
    height: auto;
}

footer > .ft-cont > div {
    width: 1590px;
    
}

footer > .ft-cont > div > .ft-left {
    width: 50%;
    border-right: 1px solid rgba(255,255,255,0.8);
    box-sizing: border-box;   
}

footer > .ft-cont > div > .ft-left > .left-cont-01 {
    padding-bottom: 45px;
}

footer > .ft-cont > div > .ft-left > .left-cont-02 {
    padding-bottom: 45px;
}

footer > .ft-cont > div > .ft-left > .left-cont-03 {
    padding-bottom: 30px;
}

footer > .ft-cont > div > .ft-left > .left-cont-01 > a {
    padding: 0 15px;
    position: relative;
}

footer > .ft-cont > div > .ft-left > .left-cont-01 > a::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: rgba(255,255,255,0.8);
}

footer > .ft-cont > div > .ft-left > .left-cont-01 > a:last-child::after {
    display: none;
}

footer > .ft-cont > div > .ft-left > .left-cont-01 > a:first-child {
    padding-left: 0;
}

footer > .ft-cont > div > .ft-left > .left-cont-02 > div {
    line-height: 25px;
}

footer > .ft-cont > div > .ft-left > .left-cont-02 > div > span {
    line-height: 25px;
    padding: 0 15px;
    position: relative;
}

footer > .ft-cont > div > .ft-left > .left-cont-02 > div > span::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: rgba(255,255,255,0.8);
}

footer > .ft-cont > div > .ft-left > .left-cont-02 > div > span:last-child::after {
    display: none;
}

footer > .ft-cont > div > .ft-left > .left-cont-02 > div > span:first-child {
    padding-left: 0;
}

footer > .ft-cont > div > .ft-left > .left-cont-03 > span {
    line-height: 25px;
    display: block;
}


footer > .ft-cont > div > .ft-right {
    width: 50%;   
    box-sizing: border-box;
    padding-left: 100px;
}

footer > .ft-cont > div > .ft-right > .tell-box > div:first-child {
    padding-right: 110px;
}

footer > .ft-cont > div > .ft-right > .tell-box > div > span {
    display: block;
    padding-bottom: 10px;
}

footer > .ft-cont > div > .ft-right > .tell-box > div > span:first-child {
    font-size: 18px;
    font-weight: 200;
}

footer > .ft-cont > div > .ft-right > .tell-box > div > span:nth-child(2) {
    font-size: 30px;
    font-weight: 400;
}

footer > .ft-cont > div > .ft-right > .tell-box > div > span:nth-child(3) {
    font-size: 14px;
    font-weight: 200;
}

footer > .ft-cont > div > .ft-right > .tell-box > div > span:last-child {
    font-size: 14px;
    font-weight: 200;
}

footer > .ft-cont > div > .ft-right > .icon-box {
    margin-top: 35px;
}

footer > .ft-cont > div > .ft-right > .icon-box > div {
    width: 50px;
    height: 50px;
    margin-right: 33px;
}

footer > .ft-cont > div > .ft-right > .icon-box > div > a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

footer > .ft-cont > div > .ft-right > .icon-box > div > a::after {
    position: absolute;
    content: "매장안내";
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}

footer > .ft-cont > div > .ft-right > .icon-box > div:nth-child(2) > a::after {
    content: "멤버십 혜택";
}

footer > .ft-cont > div > .ft-right > .icon-box > div:nth-child(3) > a::after {
    content: "FAQ";
}

footer > .ft-cont > div > .ft-right > .icon-box > div:nth-child(4) > a::after {
    content: "1:1 문의";
}

footer > span {
    display: block;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding: 28px 0;
    opacity: 80%;
}