/* 폰트 적용 */
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "aritaburiM", "aritaburiL", "nixM", 'NanumSquare', sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

* > p {
    margin: 0;
}

/* 커스텀 */
.con {
    max-width: 1400px;
}

/* 메인페이지 */
.main-page {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* 메뉴바 */
.main-page > .main-menu {
    width: 100%;
    height: 160px;
    position: relative;
    z-index: 99;
}

.main-page > .main-menu > .logo-box {
    width: 50px;
    height: 50px;
    padding: 36px 0;
}

.main-page > .main-menu > .logo-box > img {
    width: 100%;
    height: 100%;
}

.main-page > .main-menu > ul {
    font-family: "nixM";
    color: #fff;
    width: 865px;
    height: 100%;
    font-size: 18px;
}

.main-page > .main-menu > ul > li {
    position: relative;
}

.main-page > .main-menu > ul > li > a {
    display: block;
    height: 100%;
}

.main-page > .main-menu > ul ul {
    display: none;
    position: absolute;
    width: 183px;
    height: auto;
    text-align: center;
    top: 100%;
    left: 0;
}

/* .main-page > .main-menu > ul > li:hover > ul {
    display: block;
} */


/* 백그라운드 */
.main-page > .main-bg-box {
    width: 100%;
    height: calc(100vh - 160px);
}

.main-page > .main-bg-box > .col {
    width: 1520px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-page > .main-bg-box > .col::before {
    position: absolute;
    content: "";
    width: 0.5px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.main-page > .main-bg-box > .col::after {
    position: absolute;
    content: "";
    width: 0.5px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
}

.main-page > .main-bg-box > .row {
    width: 100%;
    height: 668px;
    position: absolute;
    top: 160px;
    left: 0;
}

.main-page > .main-bg-box > .row::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    top: 0;
    left: 0;
    background-color: #fff;
}

.main-page > .main-bg-box > .row::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    bottom: 0;
    left: ;: 0;
    background-color: #fff;
}

.main-page > .main-bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-page > .main-bg-slide > .swiper-container {
    width: 100%;
    height: 100%;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box {
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-family: "aritaburiL", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
}

.main-page > .main-bg-slide > .swiper-container > .swiper-wrapper > .swiper-slide > .main-text-box > span {
    display: block;
    border: solid 1px red;
}

