@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



html {
    font-family: 'Roboto','Noto Sans KR','Malgun Gothic','AppleSDGothicNeo',sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}
/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.con {
    max-width: 1020px;
}


/* 탑바 시작 */

.top-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    padding: 40px 80px 0;
    box-sizing: border-box;
    z-index: 999;
}

.top-bar > .search-btn {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/icons.png);
    width: 32px;
    height: 32px;
    background-size: 320px auto;
    background-position: 0 0;
    cursor: pointer;
    position: relative;
}

.top-bar > .side-toggle-btn {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.top-bar > .side-toggle-btn > span {
    background-color: black;
    position: absolute;
    left: 0;
    transition: transform .2s, width .2s, top .2s;
}

.top-bar > .side-toggle-btn > span:nth-child(1) {
    width: 24px;
    height:1px;
    top:7px;
}

.top-bar > .side-toggle-btn > span:nth-child(2) {
    width: 20px;
    height:1px; 
    top:12px;
}

.top-bar > .side-toggle-btn > span:nth-child(3) {
    width: 12px;
    height:1px; 
    top:17px;
}

.top-bar > .side-toggle-btn > span:nth-child(1).active {
    transform: rotate(45deg);
    top:11px;
}

.top-bar > .side-toggle-btn > span:nth-child(2).active {
    width: 0;
}

.top-bar > .side-toggle-btn > span:nth-child(3).active {
    width: 24px;
    top:11px;
    transform: rotate(-45deg);
}

.con-min {
    max-width: 1920px;
    min-width: 1200px;
}

/* 탑바 끝 */

/* 사이드메뉴 시작 */

.menu-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 50;
}

.menu-box > .left-side-menu {
    width: 288px;
    height: 100vh;
    background-color: pink;
    position: relative;
    z-index: 1;
}

.menu-box > .left-side-menu > ul {
    padding: 130px 0 40px;
    position: relative;
}

.menu-box > .left-side-menu > ul > li {
    padding: 0 40px 0 80px;
    margin-bottom: 12px;
}

.menu-box > .left-side-menu > ul > li > a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.menu-box > .left-side-menu > ul > li > a > i {
    position: absolute;
    width: 8px;
    height: 16px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu-box > .left-side-menu > ul > li > a > i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    margin-left: -3px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.menu-box > .left-side-menu > ul > li > a > span:hover {
    font-weight: 700;
    border-bottom: 1px solid #000;
}

/* 사이드메뉴 끝 */

.container {
    min-height: calc(100vh - 445px);
    padding-top: 100px;
    padding-top: 0;
}
.container > .section {
    max-width: 1920px;
    min-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.container > .section > .text {
    width: 50%;
    min-height: 100vh;
    padding: 60px 0;
    box-sizing: border-box;
}

.section-left > .text {
    margin-right: 50%;
}

.section-right > .text {
    margin-left: 50%;
}

.container > #daily-life > .text {
    padding-top: calc(50vh - 97px);
    background-color: white;
}

.visual {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/visual01.jpg);
}

.container > .section-left .visual {
    right: 0;
    background-position: 50vw top;
}

.container > .section-right .visual {
    left: 0;
    background-position: 0 0;
}

.container > #daily-life > .text > .content {
    width: 486px;
    margin: 0 auto;
}

.container > #daily-life > .text > .content > .logo {
    width: 284px;
    height: 82px;
    margin-bottom: 60px;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/logo.png);
    background-repeat: no-repeat;
    background-size: 284px;
    background-position: center center;
}

.container > #daily-life > .text > .content > .copy {
    font-size: 16px;
    font-weight: 200;
    color: #555;
    line-height: 1.38;
}

.container > #story {
    position: relative;
    height: 720px;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/parallax_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    max-width: 1920px;
    min-width: 1200px;
}

.container > #story::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.17);
}

.container > #story > .contents {
    color: white;
    position: absolute;
    left: 50%;
    top: 240px;
    transform: translate(-50%,0);
    width: 432px;
    height: 432px;
    text-align: center;
}

.container > #story > .contents > .title {
    font-size: 52px;
    font-weight: 300;
    line-height: 1.15;
    margin: 0;
}

.container > #story > .contents > .sub {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.9px;
}

.container > #story > .contents > .sub > a {
    display: block;
    width: 180px;
    margin: 60px auto 0;
    padding: 10px 0;
    border: solid 1px white;
}

.container > #moments {
    min-height: inherit;
    padding: 120px 0 100px;
}

.container > #moments > .row {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container > #moments > .row > h3 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.38;
    padding-bottom: 40px;
    margin: 0;
}

.container > #moments > .row > .img-box {
    position: relative;
    height: 714px; 
    background-color:#76887f;
    color: white;
    overflow: hidden;
}

.container > #moments > .row > .img-box > .box-01 > img {
    background-repeat: no-repeat;
    width: 595.92px;
    vertical-align: middle;
}

.container > #moments > .row > .img-box > .box-02 {
    width: 228px;
    height: 714px;
    position: relative;
}

.container > #moments > .row > .img-box > .box-02 > a {
    display: block;
    height: calc(100% - 228px);
    padding: 160px 24px 0;
}

.container > #moments > .row > .img-box > .box-02 > a > p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.38;
    text-align: left;
    letter-spacing: -1px;
    transform: translateY(40px);
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.container > #moments > .row > .img-box > .box-02 > a > p.active {
    opacity: 1;
    transform: translateY(0);
}

.container > #moments > .row > .img-box > .box-02 > a > p > span {
    border-bottom: 1px solid white;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.container > #moments > .row > .img-box > .box-02 > p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 228px;
    height: 228px;
}

.container > #moments > .row > .img-box > .box-02 > p > img {
    width: 100%;
}

.container > #moments > .row > .img-box > .box-03 {
    position: absolute;
    top: 0;
    right: 0;
}

.container > #moments > .row > .img-box > .box-03 p {
    margin: 0;
}

.container > #moments > .row > .img-box > .box-03 > .box-03-img {
    height: 192px;
}

.container > #moments > .row > .img-box > .box-03 > p {
    height: 384px;
}

.container > #moments > .row > .img-box > .box-03 > .box-03-text {
    padding: 40px 60px 0;
    background-color:#76887f;
    height: 137px;
    text-align: left;
    font-size: 15.8px;
    font-weight: 200;
    line-height: 1.38;
}

.container > #moments > .row > .img-box > .box-03 > .box-03-text > p {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

.container > #moments > .row > .img-box > .box-03 > .box-03-text > p.active {
    opacity: 1;
    transform: translateY(0);
}

.container > #skincare .visual {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/visual03.jpg);
}

.container > #skincare > .text > .content {
    width: 486px;
    margin: 0 auto;
    padding: calc(50% + 200px) 0;
}

.container > #skincare > .text > .content > p > a {
    display: block;
    border: 1px solid #b3b3b3;
    margin-top: 60px;
    width: 120px;
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 10px 0;
    font-weight: 400;
}

.container > #skincare > .text > .products {
    padding-top: 60px;
    width: 588px;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: 58px;
}

.container > #skincare > .text > .type-right {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/figure04.jpg);
}

.container > #skincare > .text > .type-right > p {
    padding-left: 340px;
}

.container > #skincare > .text > .type-right > .title {
    min-width: 205px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.38;
}

.container > #skincare > .text > .type-right > .sub {
    height: 243px;
    font-weight: 200;
    color: #555;
    margin: 0;
    line-height: 1.38;
}

.container > #skincare > .text > .type-right > .sub > a {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 32px;
    color: black;
    font-weight: 400;
}

.container > #skincare > .text > .type-right > .sub-img {
    width: 384px;
    margin-top: 40px;
    margin-left: 204px;
    padding-bottom: 120px;
}

.container > #skincare > .text > .type-right > .sub-img > div {
    height: 180px;
}

.container > #skincare > .text > .type-right > .sub-img > div > a > img {
    width: 180px;
    height: 180px;
    margin-right: 24px;
    background-color: #F9F9F9;
}

.container > #skincare > .text > .type-right > .sub-img > div > a > span {
    display: none;
    color: #555;
    font-size: 16px;
    font-weight: 200;
}

.container > #skincare > .text > .type-right > .sub-img > div > a:hover > span {
    display: block;
}

.container .type-left {
    background-position: right 0;
    text-align: right;
}

.container > #skincare > .text > .type-left {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/figure03.jpg);
}

.container > #skincare > .text > .type-left > p {
    padding-right: 340px;
}

.container > #skincare > .text > .type-left > .title {
    min-width: 205px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.38;
}

.container > #skincare > .text > .type-left > .sub {
    height: 243px;
    font-weight: 200;
    color: #555;
    margin: 0;
    line-height: 1.38;
}

.container > #skincare > .text > .type-left > .sub > a {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 32px;
    color: black;
    font-weight: 400;
}

.container > #skincare > .text > .type-left > .sub-img {
    width: 384px;
    margin-top: 40px;
    margin-right: 204px;
    padding-bottom: 120px;
}

.container > #skincare > .text > .type-left > .sub-img > div {
    height: 180px;
}

.container > #skincare > .text > .type-left > .sub-img > div > a {
    margin-right: 24px;
}

.container > #skincare > .text > .type-left > .sub-img > div > a > img {
    width: 180px;
    height: 180px;
    background-color: #F9F9F9;
}

.container > #skincare > .text > .type-left > .sub-img > div > a > span {
    display: none;
    color: #555;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    box-sizing: border-box;
}

.container > #skincare > .text > .type-left > .sub-img > div > a:hover > span {
    display: block;
}



.container > #fragrance .visual {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/visual02.jpg);
}

.container > #fragrance > .text > .content {
    width: 486px;
    margin: 0 auto;
    padding: calc(50% + 200px) 0;
}

.container > #fragrance > .text > .content > p > a {
    display: block;
    border: 1px solid #b3b3b3;
    margin-top: 60px;
    width: 120px;
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 10px 0;
    font-weight: 400;
}

.container > #fragrance > .text > .products {
    padding-top: 60px;
    width: 588px;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.container > #fragrance > .text > .type-right {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/figure02.jpg);
}

.container > #fragrance > .text > .type-right > p {
    padding-left: 340px;
}

.container > #fragrance > .text > .type-right > .title {
    min-width: 205px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.38;
}

.container > #fragrance > .text > .type-right > .sub {
    height: 243px;
    font-weight: 200;
    color: #555;
    margin: 0;
    line-height: 1.38;
}

.container > #fragrance > .text > .type-right > .sub > a {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 32px;
    color: black;
    font-weight: 400;
}

.container > #fragrance > .text > .type-right > .sub-img {
    width: 384px;
    margin-top: 40px;
    margin-left: 204px;
    padding-bottom: 120px;
}

.container > #fragrance > .text > .type-right > .sub-img > div {
    height: 180px;
}

.container > #fragrance > .text > .type-right > .sub-img > div > a  {
    margin-right: 24px;
}

.container > #fragrance > .text > .type-right > .sub-img > div > a > img {
    width: 180px;
    height: 180px;
    background-color: #F9F9F9;
}

.container > #fragrance > .text > .type-right > .sub-img > div > a > span {
    display: none;
    color: #555;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

.container > #fragrance > .text > .type-right > .sub-img > div > a:hover > span {
    display: block;
}

.container .type-left {
    background-position: right 0;
    text-align: right;
}

.container > #fragrance > .text > .type-left {
    background-image: url(https://han-daeun.github.io/img1/pf/rar/figure01.jpg);
}

.container > #fragrance > .text > .type-left > p {
    padding-right: 340px;
}

.container > #fragrance > .text > .type-left > .title {
    min-width: 205px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.38;
}

.container > #fragrance > .text > .type-left > .sub {
    height: 243px;
    font-weight: 200;
    color: #555;
    margin: 0;
    line-height: 1.38;
}

.container > #fragrance > .text > .type-left > .sub > a {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 32px;
    color: black;
    font-weight: 400;
}

.container > #fragrance > .text > .type-left > .sub-img {
    width: 384px;
    margin-top: 40px;
    margin-right: 204px;
    padding-bottom: 120px;
}

.container > #fragrance > .text > .type-left > .sub-img > div {
    height: 180px;
}

.container > #fragrance > .text > .type-left > .sub-img > div > a {
    margin-right: 24px;
}

.container > #fragrance > .text > .type-left > .sub-img > div > a > img {
    width: 180px;
    height: 180px;
    background-color: #F9F9F9;
}

.container > #fragrance > .text > .type-left > .sub-img > div > a > span {
    display: none;
    color: #555;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    box-sizing: border-box;
}

.container > #fragrance > .text > .type-left > .sub-img > div > a:hover > span {
    display: block;
}

.sns-box {
    position: relative;
    min-width: 1020px;
    max-width: 1200px;
    padding: 120px 0 160px;
    margin: 0 auto;
    text-align: center;
}

.sns-box > div > h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.38;
}

.sns-box > div > p {
    margin: 0;
    font-weight: 400;
    line-height: 40px;
    padding: 16px 0 54px;
}

.sns-box > div > p > a > span {
    width: 33px;
    height: 33px;
    margin-right: 7px;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/icons.png);
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position: -120px 0;
    vertical-align: middle;
    display: inline-block;
}

.sns-box > div > .slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.sns-box > div > .slider > ul {
    height: 282px;
}

.sns-box > div > .slider > ul > li {
    width: 282px;
    height: 282px;
    margin-right: 24px;
}

.sns-box > div > .slider > ul > li > a > img {
    object-fit: cover;
    width: 282px;
}

.sns-box > .sns-box-01 > .my-slider-1 > .custom-nav > button {
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    top: 55%;
    left: 0;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    user-select: none;
    background-color: transparent;
    border: 0;
}

.sns-box > .sns-box-01 > .my-slider-1 > .custom-nav > button:last-child {
    left: auto;
    right: 0;
}

.sns-box > .sns-box-01 > .my-slider-1 > .custom-nav > button > span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 30px;
    overflow: hidden;
    color: transparent;
}

.sns-box > .sns-box-01 > .my-slider-1 > .custom-nav > button > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19px;
    height: 19px;
    margin-left: 7px;
    border-left: 1px solid rgba(170, 170, 170);
    border-bottom: 1px solid rgba(170, 170, 170); 
    transform: translate(-50%,-50%) rotate(45deg);
}

.sns-box > .sns-box-01 > .my-slider-1 > .custom-nav > button:nth-child(2) > span::before {
    margin-left: -7px;
    transform: translate(-50%,-50%) rotate(225deg);
}

.footer {
    background-color: #f9f9f9;
    padding: 60px 0 40px;
    position: relative;
    overflow: hidden;
    width:100%;
}

.footer > .footer-layout {
    max-width: 1020px;
    margin: 0 auto;
    font-size: 14px;
    color: #777;
}

.footer > .footer-layout > .footer-logo {
    width: 100%;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ededed;
}

.footer > .footer-layout > .footer-logo > a {
    display: block;
    width: 160px;
    height: 46px;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/logo_s.png);
    background-position: 0 0;
    background-size: 160px;
    background-repeat: no-repeat;
}

.footer > .footer-layout > nav > ul {
    line-height: 1.38;
}

.footer > .footer-layout > nav > ul > li {
    margin-right: 40px;
}

.footer > .footer-layout > nav > ul > li > a {
    letter-spacing: -1px;
}

.footer > .footer-layout p {
    margin-top: 0;
    margin-bottom: 0;
}

.footer > .footer-layout > .address > p > span {
    font-weight: 400;
}

.footer > .footer-layout > .address {
    margin: 20px 0 40px;
    line-height: 22px;
    font-weight: 400;
}

.footer > .footer-layout > .address > p > span {
    font-weight: 350;
    margin-right: 20px;
    line-height: 1.38;
}

/* 서치박스 시작 */

.search-box {
    position: fixed;
    top: 89px;
    left: auto;
    right: 80px;
    width: 467px;
    height: auto;
    border: 1px solid #d5d5d5;
    background-color: white;
    display: none;
}

.search-box.active {
    display: block;
}

body.active {
    overflow-y: hidden;
}

.search-box > .box-inner {
    padding: 32px;
    position: relative;
    background-color: white;
}

.search-box > .box-inner > .pop-search {
    margin: 34px 0 40px;
}

.search-box > .box-inner > .pop-search > h3 {
    font-weight: 400;
    line-height: 1.38;
    font-size: 14px;
    margin: 0;
}

.search-box > .box-inner > .pop-search > ol {
    padding-top: 8px;
    padding-left: 0;
    margin: 0;
}

.search-box > .box-inner > .pop-search > ol > li {
    border-bottom: 1px solid #ededed;
    counter-increment: item;
}

.search-box > .box-inner > .pop-search > ol > li > a {
    padding: 16px 0;
    font-size: 16px;
    font-weight: 200;
    display: block;
}

.search-box > .box-inner > .pop-search > ol > li > a::before {
    content: counter(item) ". ";
    font-weight: 400;
}

.search-box > .box-inner > .close-btn {
    margin: 0;
    padding: 0;
    min-width: 280px;
    width:100%;
    height: 56px;
    background-color: #000;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.search-box > .box-inner > input {
    width: 401px;
    height: 52px;
    padding: 16px 80px 14px 0;
    line-height: 24px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #000;
    font-size: 16px;
    font-weight: 400;
}

.search-box > .box-inner > a {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url(https://han-daeun.github.io/img1/pf/rar/icons.png);
    background-size: 320px auto;
    background-repeat: no-repeat;
    top: 44px;
    right: 34px;
}
/* 서치박스 끝 */

.container .content > p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.container .content > p.active {
    opacity: 1;
    transform: translateY(0);
}

.container .products > p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.container .products > p.active {
    opacity: 1;
    transform: translateY(0);
}

.container .products > .sub-img {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.container .products > .sub-img.active {
    opacity: 1;
    transform: translateY(0);
}