@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}
/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.con-min-width {
    min-width: 1215px;
}

.con {
    max-width:1900px;
}

/* 커스텀 */
/* 탑바 시작 */
.top-bar {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    background-color: white;
    z-index: 10;
}

.top-bar > .top-ad-bar > div {
    position: relative;
    max-width: 1900px;
    min-width: 1215px;
    height: 60px;
}

.top-bar > .top-ad-bar > div > img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.top-bar > .top-header-bar {
    max-width: 1600px;
    min-width: 1215px;
    position: relative;
}

.top-bar > .top-header-bar > a {
    display: block;
    width: 70px;
    height: 60px;
    background: url(https://han-daeun.github.io/img1/pf/hazzys/logo_hazzys_20.png); 
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}

.top-bar > .top-header-bar > a.active {
    position: absolute;
    padding-top: 28px;
    margin-left: 26px;
}

.top-bar > .top-header-bar > .login-bar {
    position: absolute;
    top:50%;
    left: auto;
    right: 0;
}

.top-bar > .top-header-bar > .login-bar.active {
    padding-top: 35px;
}

.top-bar > .top-header-bar > .login-bar > ul > li > a {
    font-size: 12px;
    color: #777;
    font-weight: 800;
    padding: 0 18px;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    position: relative;
    line-height: 50px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:first-child > a::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 8px;
    background-color: #bdbdbd;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.top-bar > .top-header-bar > .login-bar > ul > li:last-child > a {
    padding: 0 30px 0 28px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:nth-child(2) > a {
    margin-right: 22px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:last-child > a::before {
    position: absolute;
    content: "";
    background: url(http://www.hazzys.com/static/renewal/images/hazzys/common/btn_shopping.png) no-repeat 0 0;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}


.top-bar > .top-bar-menu {
    width: 100%;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > .menu-bar {
    height: 100%;
}

.top-bar > .top-bar-menu > .menu-bar > ul > li {
    height: 115px;
}

.top-bar > .top-bar-menu > .menu-bar > ul > li > a {
    padding:0 45px;
    color: #0b253e;
    font-size: 14px;
    font-weight: 800;
}

@media (max-width:1460px) {
    .top-bar > .top-bar-menu > .menu-bar > ul {
        justify-content: flex-start;
        margin-left: 115px;
    }
    .top-bar > .top-bar-menu > .menu-bar > ul > li > a {
        padding: 0 32px;
    }
}

/* 2차메뉴 시작*/

.top-bar > .top-bar-menu > nav > ul >li > div > ul {
    display: none;
}

.top-bar > .top-bar-menu > nav > ul >li:hover > div > ul {
    display: block;
}

.top-bar > .top-bar-menu > nav > ul >li:first-child > div > ul {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: #0b253e;
    border-bottom: 1px solid white;
    padding: 60px 0;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > nav > ul >li:not(:first-child) > div > ul {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    padding-top:50px;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > div {
    
    max-width: 1215px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > div > a {
    font-size: 28px;
    color: white;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: .08em;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > li {
    padding-top: 30px;
    padding-bottom: 120px;
}

.top-bar > .top-bar-menu > nav > ul > li:first-child > div > ul > li > a {
    margin: 0 50px;
    color: white;
    font-size: 14px;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    border-bottom: 1px solid transparent;
    padding-bottom: 7px;
    transition: border 0s;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > li > a:hover {
    border-bottom: 1px solid white;
    transition: border 0.3s;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-title > a {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .08em;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list {
    padding-bottom: 18px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-title {
    width: 132px;
    font-size: 14px;
    font-weight: 400;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul {
    width: 130px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items {
    padding-left: 25px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li {
    margin-bottom: 22px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li > a {
    padding-bottom: 7px;
    border-bottom: 1px solid transparent;
    transition: border 0s;
    line-height: 17px;
    display: inline-block;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li > a:hover {
    border-bottom: 1px solid black;
    transition: border 0.3s;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-pic {
    position: absolute;
    top:0;
    right: 0;
}

/* 2차메뉴 끝*/

/* 슬라이드박스 시작 */
.my-slider-1 {
    position: relative;
    padding-top:220px;
    max-width: 1915px;
    min-width: 1215px;
}

.my-slider-1 .item {
    height:600px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }

.my-slider-1 > .custom-nav > div {
    position: absolute;
    color: white;
    top: 62%;
    left: 0;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    margin-left: 9%;
    user-select: none;
}

.my-slider-1 > .custom-nav > div:last-child {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 9%;
}

.my-slider-1 > .custom-nav > div::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: white;
    left: -6px;
    bottom: -6px;
}
/* 슬라이드박스 끝 */

/* 이벤트리스트 시작 */
.eve-list {
    max-width: 1915px;
    min-width: 1215px;
    position: relative;
    overflow: hidden;
}

.eve-list > div {
    height: 600px;
}

.eve-list > div {
    position: relative;
    left: 50%;
    margin-left: -100%;
    text-align: center;
}

/* 이벤트리스트 끝 */

/* 슬라이더2 시작 */
.slider-02 {
    position: relative;
    max-width: 1910px;
    min-width: 1215px;
    height: 420px;
    overflow: hidden;
    box-sizing: border-box;
}

.slider-02 > div {
    width: 4200px;
    transition: all .5s;
}

.slider-02:hover > div {
    margin-left: -2290px;
}

.slider-02 > div > div {
    width: 420px;
    height: 420px;
}

.slider-02 > div > div > a > img {
    width: 100%;
}
/* 슬라이더2 끝 */

/* 푸터 시작 */
.footer {
    max-width: 1910px;
    min-width: 1215px;
    background-color: #333333;
    width: 100%;
    font-family: 'Open Sans','Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
    position: relative;
}

.footer > .footer-01 {
    padding: 40px 40px 32px;
}

.footer > .footer-01 > ul > li:first-child {
    margin-left: 0;
}

.footer > .footer-01 > ul > li {
    margin-left: 40px;
}

.footer > .footer-01 > ul > li > a {
    color:white;
    font-size:13px;
    display: block;
}

.footer > .footer-01 > .copyright {
    font-size: 13px;
    color: #9a9a9a;
    margin-top: 30px;
}

.footer > .footer-01 > .copyright span {
    display: inline-block;
    margin: 7px 0;
    padding: 0 9px 0 13px;
    line-height: 10px;
    letter-spacing: -0.1px;
}

.footer > .footer-01 > .copyright > .copyright-01 > a {
    position: relative;
    display: inline-block;
    margin: 7px 0;
    padding: 0 9px 0 13px;
    line-height: 10px;
    letter-spacing: -0.1px;
    font-size: 11px;
    background-image: url(https://han-daeun.github.io/img1/pf/hazzys/btn_more_write.png);
    background-repeat: no-repeat;
    background-position: right;
}

.footer > .footer-01 > .copyright > .copyright-01 > a:hover {
    color: white;
}

.footer > .footer-01 > .copyright > .copyright-01 > a::before {
    position: absolute;
    content: "";
    width: 88px;
    height: 1px;
    background-color: #5c5c5c;
    left: 13px;
    bottom: -7px;
}

.footer > .footer-02 {
    background-color: #252525;
    padding: 30px 40px;
}

.footer > .footer-02 > ul > li {
    margin-left: 20px;
    line-height: 25px;
}

.footer > .footer-02 > ul > li > .text-link {
    font-size: 11px;;
    color: #9a9a9a;
    position: relative;
    background-image: url(https://han-daeun.github.io/img1/pf/hazzys/btn_more_write.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 13px;
}

.footer > .footer-02 > ul > li > .text-link:hover::after {
    position: absolute;
    content: "";
    width: 105px;
    height: 1px;
    background-color: #9a9a9a;
    left: 0px;
    top:13px;
}

.footer > .footer-02 > ul > li > .text-link::before {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background-color: #5c5c5c;
    left: 0px;
    bottom: -6px;
}

.footer > .util-box {
    position: absolute;
    top: 10px;
    right: 40px;
}

.footer > .util-box > div {
    padding: 20px 16px;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
}

.footer > .util-box > div > div {
    color: white;
    font-size: 14px;
    line-height: 32px;
    width: 180px;
    height: 32px;
    border-bottom: 1px solid #9a9a9a;
    position: relative;
}

.footer > .util-box > div > div::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 7px;
    background-image: url(http://www.hazzys.com/static/renewal/images/hazzys/common/btn_select_black.png);
    right: 0;
    top: 12px;
    transition: transform .2s;
}

.footer > .util-box > div:hover > div::before {
    transform: rotate(180deg);
}

.footer > .util-box > div > ul {
    background-color: #333;
    position: absolute;
    bottom: 60px;
    width: 100%;
    left: 0;
    display: none;
}

.footer > .util-box > div:hover > ul {
    display: block;
}

.footer > .util-box > div > ul > li > a {
    color: white;
    padding: 0 16px;
    line-height: 30px;
    font-size: 14px;
}

/* 맨위로가기 버튼 */
.footer > .button {
    width: 45px;
    height: 45px;
    background: url(http://www.hazzys.com/static/renewal/images/hazzys/common/btn_top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    bottom: 40px;
    right: 40px;
    overflow: hidden;
    text-indent: 200%;
}

.footer > .button > a {
    display: block;
    width: 100%;
    height: 100%;
}
/* 푸터 끝 */