@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}
/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.con-min-width {
    min-width: 1215px;
}

.con {
    max-width:1900px;
}

/* 커스텀 */
/* 탑바 시작 */
.top-bar {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    background-color: white;
    z-index: 10;
}

.top-bar > .top-ad-bar > div {
    position: relative;
    max-width: 1900px;
    min-width: 1215px;
    height: 60px;
}

.top-bar > .top-ad-bar > div > img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.top-bar > .top-header-bar {
    max-width: 1600px;
    min-width: 1215px;
}

.top-bar > .top-header-bar > a {
    display: block;
    width: 70px;
    height: 60px;
    background: url(https://han-daeun.github.io/img1/pf/hazzys/logo_hazzys_20.png); 
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
}

.top-bar > .top-header-bar > .login-bar {
    position: absolute;
    top:50%;
    left: auto;
    right: 0;
}

.top-bar > .top-header-bar > .login-bar > ul > li > a {
    font-size: 12px;
    color: #777;
    font-weight: 800;
    padding: 0 18px;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    position: relative;
    line-height: 50px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:first-child > a::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 8px;
    background-color: #bdbdbd;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.top-bar > .top-header-bar > .login-bar > ul > li:last-child > a {
    padding: 0 30px 0 28px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:nth-child(2) > a {
    margin-right: 22px;
}

.top-bar > .top-header-bar > .login-bar > ul > li:last-child > a::before {
    position: absolute;
    content: "";
    background: url(http://www.hazzys.com/static/renewal/images/hazzys/common/btn_shopping.png) no-repeat 0 0;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}


.top-bar > .top-bar-menu {
    width: 100%;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > .menu-bar {
    height: 100%;
}

.top-bar > .top-bar-menu > .menu-bar > ul > li {
    height: 115px;
}

.top-bar > .top-bar-menu > .menu-bar > ul > li > a {
    padding:0 45px;
    color: #0b253e;
    font-size: 14px;
    font-weight: 800;
}

/* 2차메뉴 시작*/

.top-bar > .top-bar-menu > nav > ul >li > div > ul {
    display: none;
}

.top-bar > .top-bar-menu > nav > ul >li:hover > div > ul {
    display: block;
}

.top-bar > .top-bar-menu > nav > ul >li:first-child > div > ul {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: #0b253e;
    border-bottom: 1px solid white;
    padding: 60px 0;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > nav > ul >li:not(:first-child) > div > ul {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    padding-top:50px;
    min-width: 1215px;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > div {
    
    max-width: 1215px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > div > a {
    font-size: 28px;
    color: white;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: .08em;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > li {
    padding-top: 30px;
    padding-bottom: 120px;
}

.top-bar > .top-bar-menu > nav > ul > li:first-child > div > ul > li > a {
    margin: 0 50px;
    color: white;
    font-size: 14px;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    border-bottom: 1px solid transparent;
    padding-bottom: 7px;
    transition: border 0s;
}

.top-bar > .top-bar-menu > nav > ul > li > div > ul > li > a:hover {
    border-bottom: 1px solid white;
    transition: border 0.3s;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-title > a {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .08em;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list {
    padding-bottom: 18px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-title {
    width: 132px;
    font-size: 14px;
    font-weight: 400;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul {
    width: 130px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items {
    padding-left: 25px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li {
    margin-bottom: 22px;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li > a {
    padding-bottom: 7px;
    border-bottom: 1px solid transparent;
    transition: border 0s;
    line-height: 17px;
    display: inline-block;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-list > .sub-menu-list-items > ul > li > a:hover {
    border-bottom: 1px solid black;
    transition: border 0.3s;
}

.top-bar > .top-bar-menu > nav > ul ul .sub-menu-pic {
    position: absolute;
    top:0;
    right: 0;
}

/* 2차메뉴 끝*/

/* 슬라이드박스 시작 */
.my-slider-1 {
    position: relative;
    padding-top:220px;
    max-width: 1915px;
    min-width: 1215px;
}

.my-slider-1 .item {
    height:600px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }

.my-slider-1 > .custom-nav {
}

.my-slider-1 > .custom-nav > div {
    position: absolute;
    color: white;
    top: 62%;
    left: 0;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito Sans', 'Noto Sans KR', 'Nanum Gothic';
    margin-left: 9%;
    user-select: none;
}

.my-slider-1 > .custom-nav > div:last-child {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 9%;
}

.my-slider-1 > .custom-nav > div::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: white;
    left: -6px;
    bottom: -6px;
}
/* 슬라이드박스 끝 */

/* 이벤트리스트 시작 */
.eve-list {
    max-width: 1915px;
    min-width: 1215px;
    position: relative;
    overflow: hidden;
}

.eve-list > div {
    height: 600px;
}

.eve-list > div {
    position: relative;
    left: 50%;
    margin-left: -100%;
    text-align: center;
}

/* 이벤트리스트 끝 */