@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

body {
    font-family: 'NanumSquare', 'Montserrat', sans-serif;
     }

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}

/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

.con-min-width {
    min-width: 1215px;
}

.con {
    max-width:1280px;
}
/* 공통CSS */
.section-box {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

.section-box > div {
    padding: 150px 0;
    box-sizing: border-box;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.section-box > div > .section-inner {
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.section-box > div > .section-inner > .sec-sub-title {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #8c8c8c;
    text-align: center;
    line-height: 1;
}

.section-box > div > .section-inner > .sec-sub-title > span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.section-box > div > .section-inner > .sec-sub-title > div {
    width: 40px;
    height: 2px;
    margin-top: 20px;
    background-color: #c5c5c5;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.section-box > div > .section-inner > .sec-title {
    margin-top: 50px;
    width: 100%;
    line-height: 1.5;
    font-size: 36px;
    color: #000;
    text-align: center;
}

/* 공용 더보기버튼 */
.section-box > div > .section-more-box {
    bottom: 0;
    width: 100%;
    max-width: 1280px;
    height: 65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    box-sizing: border-box;
}

.section-box > div > .section-more-box > div {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-box > div > .section-more-box > div > .more-box-bar {
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    position: absolute;
}

.section-box > div > .section-more-box > div > .more-box-btn {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color .2s;
}

.section-box > div > .section-more-box > div > .more-box-btn:hover {
    background-color: #7e3985;
}

.section-box > div > .section-more-box > div > .more-box-btn > div {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #7e3985;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.section-box > div > .section-more-box > div > .more-box-btn > div:nth-child(2) {
    width: 2px;
    height: 30px;
}

.section-box > div > .section-more-box > div > .more-box-btn:hover > div {
    background-color: #fff;
}

.page-03 > div > .section-more-box > div > .more-box-btn:hover {
    background-color: #00acd7;
}

.page-03 > div > .section-more-box > div > .more-box-btn > div {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #00acd7;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.page-04 > div > .section-more-box > div > .more-box-btn:hover {
    background-color: #ef8903;
}

.page-04 > div > .section-more-box > div > .more-box-btn > div {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ef8903;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.page-05 > div > .section-more-box > div > .more-box-btn:hover {
    background-color: #1f7fb6;
}

.page-05 > div > .section-more-box > div > .more-box-btn > div {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #1f7fb6;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* 커스텀 */

#fullpage + .fp-tableCell {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}



/* 상단바 시작 */
.header {
    box-sizing: border-box;
    padding: 45px 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header.active {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px 60px;
}

.header > .logo, .header > .logo > a {
    width: 95px;
    height: 36px;
    line-height: 30px;
    position: relative;
}

.header > .logo > a > img {
    top: 0;
    left: 0;
    width: 95px;
    height: auto;
    position: absolute;
}

.header > .logo > a > .logo-c {
    opacity: 0;
}

.header.active > .logo > a > .logo-c {
    opacity: 1;
}

.header.active > .logo > a > .logo-w {
    opacity: 0;
}

.header > .header-right > .language {
    width: auto;
    height: auto;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    line-height: 1.5;
    opacity: 0.4;
    color: white;
}

.header.active > .header-right > .language {
    color: black;
}

.header > .header-right > .language.active {
    opacity: 1;
}

.header > .header-right > .language.active > span {
    opacity: 1;
}

.header > .header-right > .language > span {
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.header.active > .header-right > .language > span {
    background-color: black;
}

.header > .header-right > .toggle-btn {
    width: 25px;
    height: 18px;
    margin-left: 80px;
    position: relative;
    z-index: 10;
}

.header > .header-right > .toggle-btn > div {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: transform .2s, width .2s, top .2s;
}

.header.active > .header-right > .toggle-btn > div {
    background-color: black;
}

.header > .header-right > .toggle-btn > div:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header > .header-right > .toggle-btn > div:nth-child(3) {
    left: 0;
    bottom: 0;
}

.header > .header-right > .toggle-btn.active > div {
    background-color: #000;
}

.header > .header-right > .toggle-btn.active > div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.header > .header-right > .toggle-btn.active > div:nth-child(2) {
    opacity: 0;
}

.header > .header-right > .toggle-btn.active > div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}


/* 상단바 끝 */

/* 1페이지 */


/* 2페이지 시작 */
.page-02 > .section-inner {
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
}

.page-02 > div > .section-inner > .sec-title > span {
    color: #7e3985;
}

.page-02 > div > .section-inner > .about-slider {
    width: 100%;
    height: 205px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    background-color: #aaaaaa;
}

.page-02 > div > .section-inner > .about-pic > img {
    width: 100%;
}

/* 2페이지 끝 */

/* 3페이지 시작 */

.page-03 > div {
    max-width: none;
}

.page-03 > div > .section-inner > .page-03-round-box {
    margin-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

.page-03 > div > .section-inner > .page-03-round-box > div {
    max-width: 100%;
    width: 1040px;
    height: 160px;
    background-color: #00acd7;
    color: #fff;
    border-radius: 160px;
    box-sizing: border-box;
    padding: 30px 90px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.page-03 > div > .section-inner > .page-03-round-box > div > div {
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
}

.page-03 > div > .section-inner > .page-03-round-box > div > .icon {
    margin: 0 5px;
}

.page-03 > div > .section-inner > .page-03-round-box > div > .icon > img {
    vertical-align: middle;
    margin-top: -2px;
}

.page-03 > div > .section-inner > .page-03-round-text {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.page-03 > div > .section-inner > .page-03-round-text > div {
    box-sizing: border-box;
    padding: 20px 40px;
    line-height: 1;
    width: auto;
    height: auto;
    display: inline-block;
}

.page-03 > div > .section-inner > .page-03-round-text > div > div {
    font-size: 20px;
    line-height: 1.5;
    color: #8c8c8c;
    text-align: center;
    display: inline-block;
}

.page-03 > div > .section-inner > .page-03-round-text > div > div > .br_05 {
    display: none;
}

.page-03 > div > .section-inner > .page-03-round-text > div > div > .br_04 {
    display: none;
}

.page-03 > div > .section-inner > .page-03-round-text > div > div > .br_03 {
    display: none;
}

.page-03 > div > .section-inner > .page-03-round-text > div > div > span {
    color: #00acd7;
}

.page-03 > div > .section-inner > .sec-title > span {
    color: #00acd7;
}

.page-03 > div > .pr_box {
    padding-top: 60px;
    z-index: 10;
    width: 100%;
    height: 650px;
}

.page-03 > div > .pr_box > div {
    width: 14.2587%;
    height: 100%;
    box-sizing: border-box;
    cursor: crosshair;
    transition: all 120ms ease-in-out;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-03 > div > .pr_box > div:hover {
    width: 28%;
}

/* 3페이지 끝 */

/* 4페이지 시작 */
.page-04 > div > .section-inner > .sec-title > span {
    color: #ef8903;
}

.page-04 > div > .section-inner > .page-04-slide {
    margin-top: 60px;
    width: 100%;
    height: auto;
    margin-left: -18px;
}

.page-04 > div > .section-inner > .page-04-slide > .swiper-wrapper > .swiper-slide {
    width: 273px;
    height: 417px;
    margin: 18px; 
    background-color: #ef8903;
}
/* 4페이지 끝 */

/* 5페이지 시작 */
.page-05 > div > .section-inner > .sec-title > span {
    color: #1f7fb6;
}
/* 5페이지 끝 */

/* 6페이지 시작 */
.page-06 {
    margin-top: 120px;
}
.page-06 > div > .section-inner > .sec-title > span {
    color: #fff;
}
/* 6페이지 끝 */
