@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

/* 커스텀 */
.con {
    max-width: 1400px;
}

/* 탑바 모바일 */
.wrap {
    position: relative;
    min-width: 375px;
}
.wrap > .top-bar {
    width: 100%;
    height: 55px;
    padding: 0 40px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-size: 18px;
    line-height: 18px;
    justify-content: center;
    position: relative;
}

.wrap > .top-bar > .logo-box {
    width: 68px;
    height: 29px;
    cursor: pointer;
}

.wrap > .top-bar > .logo-box > img {
    width: 100%;
}

.wrap > .top-bar > .menu-box  {
    display: none;
}

.wrap > .top-bar > .right-btn {
    display: none;
}

.wrap > .top-bar > .right-btn > div > a {
    display: block;
    /* width: 120px;
    height: 43px; */
    border-radius: 10px;
    text-align: center;
    color: #FFF;
    background-color: #FF9176;
    padding: 8px 20px;
    margin-left: 20px;
    font-size: 15px;
}

.wrap > .top-bar > .right-btn > div > a:first-child {
    background-color: #FFF;
    color: #FF9176;
    border: solid 1px #FF9176;
    box-sizing: border-box;
    margin-left: 0;
}

.wrap > .top-bar > .side-menu-btn {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

.wrap > .top-bar > .side-menu-btn > span {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #6C6C6C;
    top: 0;
    left: 0;
    transition: opacity .3s, transform .3s, top .3s;
}

.wrap > .top-bar > .side-menu-btn > span:nth-child(2) {
    top: 50%;
}

.wrap > .top-bar > .side-menu-btn > span:nth-child(3) {
    top: 100%;
}

.wrap > .top-bar > .side-menu-btn.active > span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.wrap > .top-bar > .side-menu-btn.active > span:nth-child(2) {
    opacity: 0;
}

.wrap > .top-bar > .side-menu-btn.active > span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}

/* 탑바 데스크탑 */
@media screen and (min-width: 1060px) {
    .wrap > .top-bar {
        height: 80px;
        padding: 0 110px;
        justify-content: space-between;
    }
    .wrap > .top-bar > .logo-box {
        width: 100px;
        height: 43px;
    }
    .wrap > .top-bar > .logo-box > img {
        width: 100%;
    }
    .wrap > .top-bar > .menu-box {
        display: block;
    }
    .wrap > .top-bar > .menu-box > nav > ul > li {
        box-sizing: border-box;
        padding-left: 80px;
    }
    .wrap > .top-bar > .right-btn {
        display: block;
    }
    .wrap > .top-bar > .side-menu-btn {
        display: none;
    }
}


/* 푸터 모바일 */
footer {
    margin-top: 100px;
    padding-top: 50px;
    font-size: 12px;
    color: #ADADAD;
    display: block;
    border-top: solid 1px transparent;
}

footer > .mobile-footer > .m-ft-icon > a {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0 5px
}

footer > .mobile-footer > .m-ft-icon > a > img {
    width: 100%;
}

footer > .mobile-footer > span {
    display: block;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
}

footer > .mobile-footer > span:last-child {
    font-size: 10px;
}

footer > .desk-footer {
    display: none;
}




/* 푸터 데스크탑 */
@media screen and (min-width: 1060px) {
    footer > .mobile-footer {
        display: none;
    }
    footer {
        border-top: solid 1px #DCDCDC;
    }
    footer > .desk-footer {
        max-width: 1000px;
        margin: 0 auto;
        display: block;
    }
    footer > .desk-footer > div > .ft-text > span {
        display: block;
    }
    footer > .desk-footer > div > .ft-text > span:first-child {
        padding-bottom: 10px;
    }
    
    footer > .desk-footer > div > .ft-text > span:nth-child(2) {
        padding-bottom: 20px;
    }
    footer > .desk-footer > div {
        position: relative;
    }
    footer > .desk-footer > div > .ft-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-40%);
    }
    footer > .desk-footer > div > .ft-icon > .logo-mini {
        width: 91px;
        height: 39px;
        padding-bottom: 10px;
    }
    footer > .desk-footer > div > .ft-icon > .logo-mini > img {
        width: 100%;
    }
    footer > .desk-footer > div > .ft-icon > .sns-icon > a {
        display: block;
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }
    footer > .desk-footer > div > .ft-icon > .sns-icon > a > img {
        width: 100%;
    }
}